<h1 class="title">{{title}}</h1>

<form method="POST" action="/game/addGame">
    <input name="gameName" type="hidden" value="Game {{numGames}}" />
    <label>Date
        <input type="date" name="date" value="{{formatDate date day="numeric" month="long" year="numeric"}}">
    </label>
    <label>Time Slot
    <select name="time">
        <option value="17:30">5:30</option>
        <option value="18:30">6:30</option>
    </select>
    </label>
    <label>Winner
        <select name="winner">
            {{#each teams}}
            <option value="{{_id}}">{{Name}}</option>
            {{/each}}
        </select>
        <label>
            Points Scored
            <input name="winnerPoints" type="text" placeholder="Points Scored" value="0" />
        </label>
    </label>

    <label>Loser
        <select name="loser">
            {{#each teams}}
            <option value="{{_id}}">{{Name}}</option>
            {{/each}}
        </select>
    </label>
    <label>
        Points Scored
        <input name="loserPoints" type="text" placeholder="Points Scored" value="0" />
    </label>

    <input name="section" type="hidden" value="{{section}}" />
    <button type="submit">Add</button>
</form>
