<h1 class="title">{{title}}</h1>
<form class=addPlayer action="/game/addGame">
    <button name="section" value="Guys">Add Guys Game</button>
    <button name="section" value="Girls">Add Girls Game</button>
    <button name="section" value="Coed">Add Coed Game</button>
</form>

{{#each sections}}
<h3>{{_id}}</h3>
<table>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Date Played</th>
            <th scope="col">Winner</th>
            <th scope="col">Loser</th>
            <th scope="col">Score</th>
        </tr>
    </thead>

    <tbody>
        {{#each games}}
        <form method="POST">
            <tr>
                <td><button class="button--xsm">delete</button></td>
                <td>
                    {{#if date}}
                    {{formatDate date day="numeric" month="long" year="numeric"}}
                    {{/if}}
                </td>
                <td>
                    <input type=hidden name="winnerId" value="{{winner._id}}" />
                    {{winner.Name}}</td>
                <td><input type=hidden name="loserId" value="{{loser._id}}" />{{loser.Name}}</td>
                <td>{{winnerPoints}}-{{loserPoints}}</td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
{{/each}}