<h1 class="title">{{title}}</h1>
<form class=addPlayer action="/addtoteam" method="GET">
    <input name="teamId" type='hidden' value="{{team._id}}" />
    <button>Add Team Players</button>
</form>
<form method="POST" action="/updateteam">
    <input name="teamId" type='hidden' value="{{team._id}}" />
    <label>Team Name
        <input name="teamName" placeholder="Team Name" value="{{team.teamName}}">
    </label>

    <table>
        <thead>
            <tr>
                <th scope="col">Delete</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        {{#each team.members}}
        <tr>
            <td>
                <input type="checkbox" name="members[]" value="{{_id}}" />
            </td>
            <td>{{firstName}} {{lastName}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
        <button type="submit">Update</button>
</form>