<h1 class="title">{{title}}</h1>
<form class=addPlayer action="/addTeam">
    <button>Add New Team</button>
</form>

{{#if coed}}
<h3>Coed</h3>
<table>
    <thead>
        <tr>
            <th scope="col">Team</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {{#each coed}}
        <form method="GET" action="/editteam">
            <tr>
                <td>{{teamName}}</td>
                <td>
                    <input type=hidden name="_id" value="{{_id}}" />
                    <button class="button--xsm">edit</button>
                </td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
{{/if}}

{{#if guys}}
<h3>Guys</h3>
<table>
    <thead>
        <tr>
            <th scope="col">Team</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {{#each guys}}
        <form method="GET" action="/editteam">
            <tr>
                <td>{{teamName}}</td>
                <td>
                    <input type=hidden name="_id" value="{{_id}}" />
                    <button class="button--xsm">edit</button>
                </td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
{{/if}}

{{#if girls}}
<h3>Girls</h3>
<table>
    <thead>
        <tr>
            <th scope="col">Team</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {{#each girls}}
        <form method="GET" action="/editteam">
            <tr>
                <td>{{teamName}}</td>
                <td>
                    <input type=hidden name="_id" value="{{_id}}" />
                    <button class="button--xsm">edit</button>
                </td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
{{/if}}