<h1 class="title">{{title}}</h1>

<h2>{{team.teamName}}</h2> {{#if games}}
<table>
    <thead>
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Date</th>
            <th scope="col">Played</th>
            <th scope="col">Winner</th>
            <th scope="col">Loser</th>
            <th scope="col">Score</th>
        </tr>
    </thead>

    <tbody>
        {{#each games}}
        <tr>
            <td>{{gameName}}</td>
            <td>
                {{#if date}} {{formatTime date hour="numeric" minute="numeric"}} {{formatDate date day="numeric" month="long" year="numeric"}} {{/if}}
            </td>
            <td>{{winner.teamName}}</td>
            <td>{{loser.teamName}}</td>
            <td>{{winnerPoints}}-{{loserPoints}}</td>
        </tr>
        {{/each}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Points Scored</td>
            <td>{{totalPointsFor}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Points Scored Against</td>
            <td>{{totalPointsAgainst}}</td>
        </tr>
    </tbody>
</table>
{{else}}
<h3>There are no games in the database</h3> {{/if}}