<h1 class="title">{{title}}</h1>
<form class="addPlayer" action="/player/addPlayer">
    <button>Add New Player</button>
</form>
<form class="addPlayer" action="/player/uploadxlsx">
    <button>Add from File</button>
</form>
{{#if players}}
<table>
    <thead>
        <tr>
            <th scope="col">Delete</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>

    <tbody>
        {{#each players}}
        <form method="POST">
            <tr>
                <td>
                    <input type=hidden name="_id" value="{{_id}}" />
                    <button class="button--xsm">delete</button>
                </td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>

{{else}}
<h3>There are no players in the database</h3>
{{/if}}

