<h1 class="title">{{title}}</h1>
<form class=addPlayer action="/addgame">
    <button name="section" value="Guys">Add Guys Game</button>
    <button name="section" value="Girls">Add Girls Game</button>
    <button name="section" value="Coed">Add Coed Game</button>
</form>

{{#if coed}}
<h3>Coed</h3>
<table>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Game</th>
            <th scope="col">Date Played</th>
            <th scope="col">Winner</th>
            <th scope="col">Loser</th>
            <th scope="col">Score</th>
        </tr>
    </thead>

    <tbody>
        {{#each coed}}
        <form method="POST" action=/deletegame>
            <tr>
                <td><button class="button--xsm">delete</button></td>
                <td>
                    <input type=hidden name="gameId" value="{{_id}}" /> {{gameName}}
                </td>
                <td>
                    {{#if date}}
                    {{formatDate date day="numeric" month="long" year="numeric"}}
                    {{/if}}
                </td>
                <td>
                    <input type=hidden name="winnerId" value="{{winner._id}}" />
                    {{winner.teamName}}</td>
                <td><input type=hidden name="loserId" value="{{loser._id}}" />{{loser.teamName}}</td>
                <td>{{winnerPoints}}-{{loserPoints}}</td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
{{/if}}

{{#if guys}}
<h3>Guys</h3>
<table>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Game</th>
            <th scope="col">Date Played</th>
            <th scope="col">Winner</th>
            <th scope="col">Loser</th>
            <th scope="col">Score</th>
        </tr>
    </thead>

    <tbody>
        {{#each guys}}
        <form method="POST" action=/deletegame>
            <tr>
                <td><button class="button--xsm">delete</button></td>
                <td>
                    <input type=hidden name="gameId" value="{{_id}}" /> {{gameName}}
                </td>
                <td>
                    {{#if date}}
                    {{formatDate date day="numeric" month="long" year="numeric"}}
                    {{/if}}
                </td>
                <td>
                    <input type=hidden name="winnerId" value="{{winner._id}}" />
                    {{winner.teamName}}</td>
                <td><input type=hidden name="loserId" value="{{loser._id}}" />{{loser.teamName}}</td>
                <td>{{winnerPoints}}-{{loserPoints}}</td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
{{/if}}

{{#if girls}}
<h3>Girls</h3>
<table>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Game</th>
            <th scope="col">Date Played</th>
            <th scope="col">Winner</th>
            <th scope="col">Loser</th>
            <th scope="col">Score</th>
        </tr>
    </thead>

    <tbody>
        {{#each girls}}
        <form method="POST" action=/deletegame>
            <tr>
                <td><button class="button--xsm">delete</button></td>
                <td>
                    <input type=hidden name="gameId" value="{{_id}}" /> {{gameName}}
                </td>
                <td>
                    {{#if date}}
                    {{formatDate date day="numeric" month="long" year="numeric"}}
                    {{/if}}
                </td>
                <td>
                    <input type=hidden name="winnerId" value="{{winner._id}}" />
                    {{winner.teamName}}</td>
                <td><input type=hidden name="loserId" value="{{loser._id}}" />{{loser.teamName}}</td>
                <td>{{winnerPoints}}-{{loserPoints}}</td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
{{/if}}