<h1 class="title">{{title}}</h1>
<form class=addPlayer action="/team/addPlayer" method="GET">
    <input name="_id" type='hidden' value="{{team._id}}" />
    <input name="section" type='hidden' value="{{team.section}}" />
    <button>Add Team Players</button>
</form>
<form method="POST">
    <input name="teamId" type='hidden' value="{{team._id}}" />
    <label>Team Name
        <input name="teamName" placeholder="Team Name" value="{{team.teamName}}">
    </label>
    {{#if team.members}}
    <table>
        <thead>
            <tr>
                <th scope="col">Delete</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        {{#each team.members}}
        <tr>
            <td>
                <input type="checkbox" name="members[]" value="{{_id}}" />
            </td>
            <td>{{firstName}} {{lastName}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{else}}
    <h3>There are no players on team</h3> {{/if}}

    <button type="submit">Update</button>
</form>
